# ansible hosts inventory file for StorPool deployment
# all variables can also be defined per node in the roles sections below
# NOTE: all boolean values must be declared as True/False (capital first letter only!)

[all:vars]
# Global variables for all hosts

# Remote ssh variables for ansible
# NOTE: If user!=root /etc/sudoers on nodes needs to be adjusted accordingly
# ansible_user='storpool'	        # defaults use ssh_config
# ansible_user='root'		        # defaults use ssh_config
# ansible_port=22		            # defaults use ssh_config

[storpool]
# Node hostnames that are accessible via SSH
# Host variables may be added to override the default values of the variables defined below
#
# Examples:
# sp-node.1
# sp-node.2  sp_vm=True sp_configure_network=False sp_disable_nm=False
# sp-node.3  sp_node_roles='mgmt'
# sp-node.4  sp_node_roles='mgmt' sp_vm=True sp_configure_network=False
# sp-node.5  sp_node_roles='bridge'
# sp-node.6  sp_node_roles='iscsi'
# sp-node.11 sp_node_roles='mgmt,iscsi'
# sp-node.12 sp_node_roles='mgmt,iscsi,bridge'
# sp-node.21 sp_node_roles='bridge'

[storpool:vars]
# StorPool-specific variables

# sp_cluster = 'ansible-test'       # This is the top directory where Ansible configuration is saved
# sp_custdir = '/home/cust'         # The parent directory of sp_cluster
# sp_toolsdir = '/root/storpool'    # Path on the target hosts where StorPool files will be stored - Defaults to /root/storpool

# Where to get the StorPool release package from - Defaults to "web"
# sp_release_file = '/path/storpool-...'  # Local .tgz release file stored on ansible deployment host
# sp_release_file = 'web'           # Download release from StorPool

# StorPool version to be deployed (if sp_release_file='web') - Defaults to 19.01
# sp_release = '19.01'

# StorPool target release - release, pre-release or sp-lab
# sp_target_release = 'release'     # Default

# Deployment type - Defaults to False
# sp_new_cluster = True	            # New cluster deployment
# sp_new_cluster = False	        # Adding node(s) to existing cluster (default)

# Path to storpool.conf on the ansible control host - Defaults to the inventory directory (Where this file is located)
# sp_config = '/path/to/storpool.conf'

# Perform OS update (yum/apt update/upgrade) on target hosts - Defaults to True
# sp_update_system = True

# Re-try StorPool install to handle transient network problems
# sp_retry_install = False

# Set to True if deploying on a machine with single NIC
# sp_single_iface=False # Default

# Automatically configure network interfaces based on storpool.conf vars - Defaults to False
# sp_configure_network = False

# Use an alternative network configuration setup tool, used in internal testing - Defaults to False
# Implications: when configured, overrides the normal network configuration.
# sp_alternative_net_setup = False # Default

# Overwrite existing ineterface configuration files (iface-genconf -o) - Defaults to False
# sp_overwrite_iface_conf = False

# Set SELinux state (valid options are "permissive" or "disabled") - Defaults to disabled
# sp_selinux = 'disabled'

# stop and disable NetworkManager - Defaults to true
# sp_disable_nm = True

# Stop and disable firewalld/ufw (if False, will add ports for StorPool) - Defaults to True
# sp_disable_fw = True

# Node is a Virtual Machine - It will be determined automatically if not specifically set
# sp_vm = False

# Generate a summary and pause after variable validation - Defaults to True
# sp_summary_wait = True

# Comma-separated list of roles for the node(s) being deployed
# NOTES:
#   - All roles will get '@block cli' services installed
#
# Available roles:
# client	                        # client hypervisor node
# iscsi
# mgmt
# bridge

# sp_node_roles='client'	        # Default
# sp_node_roles='mgmt,iscsi'	    # Another Example

# List of arguments to pass to storpool_cg conf
# NOTE: See 'storpool_cg conf -h' for all available arguments

# Examples:
# sp_cg_conf_extra='CORES=2 NUMA_OVERFLOW=1 SP_COMMON_LIMIT=2G SP_ALLOC_LIMIT=2G'
# sp_cg_conf_extra='SYSTEM_LIMIT=4G USER_LIMIT=2G MACHINE_LIMIT=4G'

# Default otherwise
# sp_cg_conf_extra=''

[storpool:children]
storpool_servers

[storpool_servers]
# Hosts defined here will have the server module installed
# Example
# sp-node.1
# sp-node.2 sp_min_disk_size='2TB'
# sp-node.3 sp_min_disk_size='2TB' sp_cg_hyperconverged=True

[storpool_servers:vars]
# Drive selection section
#   - Devices matching _any_ of the conditions below will get initialized
#   - Larger NVME drives will be split into equally-sized partitions smaller than 4T
#   - A matched device, already containing partitions, will be omitted as a safety precaution.
#     Please, remove partitions manually before running the playbook
# CAUTION: The drive_init procedure is not fully implemented yet
#   - No RAID controller detection

# Minimal size of SATA drives (SSD and HDD) below which drives won't be discovered to be used by StorPool
# sp_min_disk_size='960GB'

# Maximal size of SATA drives (SSD and HDD) above which drives won't be discovered to be used by StorPool
# sp_max_disk_size='14TB'

# Minimal size of NVMe drives below which drives won't be discovered to be used by StorPool
# sp_min_nvme_size='960GB'

# Minimal size of PMEM drives (SSD and HDD) below which drives won't be discovered to be used by StorPool
# sp_min_pmem_size='1GB'

# Whether to run the discover phase of disk_init_helper. Set to false to use a pre-generated JSON file to be
# used for disk initialization
# sp_discover_disk_run=True

# Disk glob pattern to discover disks by. Specify manufacturer model name, serial number.
# Values can be obtained by running 'lsblk -do NAME,SIZE,MODEL' on the nodes
# By default it will match all disks that fall in the criteria specified above.
# For more concrete example see https://kb.storpool.com/user_guides/19.01/user_guide_19.01.html#disk-init-helper
# sp_discover_disk_pattern=''

# Offset to calculate diskid prefix (useful when sp_node_id >= 40)
# diskid_prefix = (sp_node_id - sp_diskid_offset) * 10
# sp_diskid_offset=0

# Extra arguments to be used to initialize HDD drives. See storpool_initdisk --help for a full list of options
# sp_hdd_disk_init_args=[]

# Extra arguments to be used to initialize SDD drives. See storpool_initdisk --help for a full list of options
# sp_sdd_disk_init_args=[]

# Number of server instances to spread disks over.
# sp_server_instances=1

# Whether the host will be hyper-converged, i.e. host virtual machines and act a storage node
# sp_cg_hyperconverged=False

# Enable Self encrypting drives (SED)
# sp_sed_enabled=False

# If sp_sed_universal_password is set, all devices will be encrypted with the specified password.
# Otherwise a random password will be set for each drive.
# sp_sed_universal_password=''

# Enable ATA Security Feature Set for SATA SED devices
# sp_sed_enable_atasf=False         # Default

# Enable OPAL encrypting for NVMe SED devices
# sp_sed_enable_opal=False          # Default

# Path to the SED configuration file
# sp_sed_conf='/etc/storpool/sed.conf'
