---
- name: Generate build conf (Release from poli)
  delegate_to: localhost
  run_once: true
  become: false
  command:
    chdir: "{{ sp_custdir }}/{{ sp_cluster }}"
    cmd: "{{ sp_generate_build_conf }}"
  changed_when: false
  when:
    - sp_release_file == 'poli'

- name: Copy release file to servers (Release from poli)
  delegate_to: localhost
  become: false
  command:
    cmd: >
      {{ sp_copytoservers }}
      r={{ sp_release }}
      host={{ inventory_hostname }}
    chdir: "{{ sp_custdir }}/{{ sp_cluster }}"
  changed_when: false
