---
- name: Checking for configured NVMe devices
  command: /usr/sbin/storpool_showconf -n SP_NVME_PCI_ID
  register: get_nvme_list_result

- name: Running storpool_hugepages to apply NVME config
  command: /usr/sbin/storpool_hugepages
  register: create_storpool_hugepages_result
  failed_when: create_storpool_hugepages_result.rc != 0
  when: get_nvme_list_result.stdout_lines | length > 0

- name: Enable Storpool services
  become: yes
  command: /usr/sbin/storpool_ctl enable --batch
  changed_when: false

- name: Start Storpool services
  become: yes
  command: /usr/sbin/storpool_ctl start --batch
  changed_when: false
  when:
    - start_services is not defined or
      start_services | bool
