---
- name: Include distro-specific tasks
  include_tasks: "subtasks/configure_network_{{ ansible_os_family | lower }}.yml"

- name: Alternative network setup tool
  command: "/usr/local/bin/preconfignet"
  register: preconfignet
  when: sp_alternative_net_setup

- name: Generate StorPool net interfaces configuration
  command: "/usr/sbin/iface-genconf -a {{ '-o' if sp_overwrite_iface_conf else '' }} {{ '--nettype 0' if sp_single_iface else '' }}"
  register: iface_genconf
  when: not sp_alternative_net_setup
  changed_when: false

- name: Init first interface
  shell: |
    {{ sp_showconf }} -n -e -- SP_IFACE1_CFG \
    | cut -d: -f3 \
    | xargs ifup
  register: iface1_init
  changed_when: false
  tags:
    - skip_ansible_lint
  when: not sp_alternative_net_setup

- name: Init second interface
  shell: |
    {{ sp_showconf }} -n -e -- SP_IFACE2_CFG \
    | cut -d: -f3 \
    | xargs ifup
  register: iface2_init
  changed_when: false
  ignore_errors: "{{ sp_single_iface | ternary (true, false) }}"
  tags:
    - skip_ansible_lint
  when: not sp_alternative_net_setup

- name: Init bond interfaces (if any)
  shell: |
    {{ sp_showconf }} -n -e -- SP_IFACE1_CFG \
    | cut -d: -f2 \
    | cut -d. -f1 \
    | xargs ifup
  register: bond_init
  changed_when: false
  ignore_errors: "{{ sp_single_iface | ternary (true, false) }}"
  tags:
    - skip_ansible_lint
  when: not sp_alternative_net_setup

- name: Init iface1 VLANs (if any)
  shell: |
    {{ sp_showconf }} -n -e -- SP_IFACE1_CFG \
    | cut -d: -f2 \
    | xargs ifup
  register: iface1_vlan_init
  changed_when: false
  tags:
    - skip_ansible_lint
  when: not sp_alternative_net_setup

- name: Init iface2 VLANs (if any)
  shell: |
    {{ sp_showconf }} -n -e -- SP_IFACE2_CFG \
    | cut -d: -f2 \
    | xargs ifup
  register: iface2_vlan_init
  changed_when: false
  ignore_errors: "{{ sp_single_iface | ternary (true, false) }}"
  tags:
    - skip_ansible_lint
  when: not sp_alternative_net_setup
