- name: Copy script to set default kernel and kexec
  copy:
    src: "files/sp_prepare_kexec"
    dest: "/tmp/sp_prepare_kexec"
    mode: 0755
  when:
    - sp_kernel_version is defined
    - not ansible_kernel | regex_search("^" + sp_kernel_version)

- name: Prepare new kernel and kexec/reboot
  command: "/tmp/sp_prepare_kexec {{ sp_kernel_version }}"
  async: 1
  poll: 0
  when:
    - sp_kernel_version is defined
    - not ansible_kernel | regex_search("^" + sp_kernel_version)
    - ansible_distribution != "Ubuntu"

- name: Prepare new kernel and run forced kexec
  command: "/tmp/sp_prepare_kexec {{ sp_kernel_version }}"
  async: 1
  poll: 0
  environment:
    FORCE_KEXEC: 1
  when:
    - sp_kernel_version is defined
    - not ansible_kernel | regex_search("^" + sp_kernel_version)
    - ansible_distribution == "Ubuntu"

- name: Waiting for host to get back from kexec/reboot
  wait_for_connection:
    connect_timeout: 5
    delay: 15
    sleep: 2
    timeout: 600
  when:
    - sp_kernel_version is defined
    - not ansible_kernel | regex_search("^" + sp_kernel_version)

- name: Gather facts anew after reboot
  gather_facts:
    parallel: yes
  when:
    - sp_kernel_version is defined
    - not ansible_kernel | regex_search("^" + sp_kernel_version)

- name: Verify we are using the specified kernel
  assert:
    that:
      - ansible_kernel | regex_search("^" + sp_kernel_version)
    success_msg: "Running expected kernel {{ sp_kernel_version }}"
    fail_msg: "Running unexpected kernel {{ ansible_kernel }}"
  when: sp_kernel_version is defined