---
- name: Check if EPEL repo is already configured (CentOS/RHEL)
  stat:
    path: "{{ epel_repofile_path }}"
  register: epel_repofile_result

- name: Install EPEL repo (CentOS/RHEL)
  yum:
    name: "{{ epel_repo_url }}"
    state: present
  register: result
  until: result is succeeded
  retries: 5
  delay: 10
  when:
    - ansible_os_family == 'RedHat'
    - not epel_repofile_result.stat.exists

- name: Import EPEL GPG key (CentOS/RHEL)
  rpm_key:
    key: "{{ epel_repo_gpg_key_url }}"
    state: present
  when: not epel_repofile_result.stat.exists
  ignore_errors: "{{ ansible_check_mode }}"

- name: Upgrade all packages (CentOS/RHEL)
  yum:
    name: "*"
    state: latest
  when:
    - sp_update_system is defined and
      sp_update_system | bool
  tags:
    - skip_ansible_lint

- name: Install network-scripts (CentOS 8/RHEL 8)
  yum:
    name: network-scripts
    state: present 
  when:
    - ansible_distribution_major_version == '8'
