---
- name: Install EPEL
  yum:
    name: epel-release
    state: present

- name: Upgrade all packages (CentOS/RHEL)
  yum:
    name: "*"
    state: latest
  register: result
  until: result is succeeded
  retries: 30
  delay: 10
  when:
    - sp_update_system is defined
    - sp_update_system | bool
  tags:
    - skip_ansible_lint

- name: Install specified kernel
  yum:
    pkg: "kernel-{{ sp_kernel_version }}"
    update_cache: yes
  when:
    - sp_kernel_version is defined
    - not ansible_kernel | regex_search("^" + sp_kernel_version)

- name: Install network-scripts (CentOS 8/RHEL 8)
  yum:
    name: network-scripts
    state: present
  when:
    - ansible_distribution_major_version == '8'
