---
generic_deps:
  - wget
  - curl
  - mc
  - man
  - fio
  - git
  - bash-completion
  - bc
  - chrony
  - mtr
  - numactl
  - nvme-cli
  - patch
  - logrotate
  - "{{ 'python' if (ansible_os_family == 'RedHat' and ansible_distribution_major_version == '6') or
        (ansible_distribution == 'Debian' and ansible_distribution_release == 'stretch') or
        (ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'xenial') or
        (ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'bionic') else 'python3' }}"
  - "{{ 'python-requests' if (ansible_os_family == 'RedHat' and ansible_distribution_major_version == '6') or
        (ansible_distribution == 'Debian' and ansible_distribution_release == 'stretch') or
        (ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'xenial') or
        (ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'bionic') else 'python3' }}"
  - rsync
  - screen
  - hwloc
  - smartmontools
  - lshw
  - lsof
  - tmux
  - socat
  - strace
  - sysstat
  - tcpdump
  - dmidecode
  - kexec-tools
  - lldpd
  - perl
  - psmisc
  - pciutils

generic_services:
  - lldpd
  - chronyd

generic_services_stopped:
  - irqbalance
